QBITTORRENT_URL='http://localhost:8080'
QBITTORRENT_USERNAME='admin'
QBITTORRENT_PASSWORD='change-me'
QBITTORRENT_CATEGORIES='radarr,sonarr,music'
QBITTORRENT_DAYS_THRESHOLD='30'
QBITTORRENT_PURGE_LOG='~/.local/state/my-scripts/qbittorrent-purge.log'
