# Optional defaults for ffmerge-er. Command-line options take precedence.
FFMERGE_CRF='20'
FFMERGE_PRESET='medium'
FFMERGE_AUDIO_BITRATE='128k'
FFMERGE_MP3_BITRATE='320k'
FFMERGE_AUDIO_FORMAT='mp3'
# FFMERGE_AUDIO_TARGET_BITRATE='192k'
FFMERGE_GIF_FPS='24'
FFMERGE_GIF_WIDTH='720'
FFMERGE_SNAPSHOT_INTERVAL='2'
